<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================================================== -->
  <!-- SPHERE IN PLACE OF GRIPPER POINT OF CONTACT                -->
  <!-- ========================================================== -->
  <xacro:macro name="gripper_tcp" params="prefix parent_link offset_xyz:='0 0 0' offset_rpy:='0 0 0'">

    <!-- ==================== PARAMETERS ==================== -->
    <xacro:property name="sphere_radius" value="0.01"/> <!-- 1 cm radius -->
    <xacro:property name="sphere_color_orange" value="1.0 0.5 0.0 1.0"/> <!-- Orange RGBA -->
    <xacro:property name="sphere_color_green" value="0.3 1.0 0.3 1.0"/> <!-- green RGBA -->

    <!-- ==================== VISUAL SPHERE ==================== -->
    <link name="${prefix}_tcp_sphere">
      <visual>
        <geometry>
          <sphere radius="${sphere_radius}"/>
        </geometry>
        <material name="orange">
          <color rgba="${sphere_color_green}"/>
        </material>
      </visual>
    </link>

    <!-- ==================== FIXED JOINT ==================== -->
    <joint name="${prefix}_tcp_sphere_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}_tcp_sphere"/>
      <origin xyz="${offset_xyz}" rpy="${offset_rpy}"/>
    </joint>

  </xacro:macro>

</robot>
